/* This file contains CSS tweaks for this blueprint.
 * As an example, we included CSS rules that put
 * a vertical line on the left of theorem statements
 * and proofs.
 * */

div.theorem_thmcontent {
	border-left: .15rem solid black;
}

div.proposition_thmcontent {
	border-left: .15rem solid black;
}

div.lemma_thmcontent {
	border-left: .1rem solid black;
}

div.corollary_thmcontent {
	border-left: .1rem solid black;
}

div.proof_content {
	border-left: .08rem solid grey;
}

/* Hide the leanok checkmarks */
div.thm_header_extras {
	display: none;
}

/* Remove all spurious italics */
div.theorem-style-plain div[class$='_thmcontent'] {
	font-style: normal;
}

span[class$='_thmtitle'] {
	font-style: normal;
}

em {
	font-style: normal;
}

dfn {
	font-style: normal;
}

.itshape, .textit, .it, .cal {
	font-style: normal;
}
